/* source keypos definitions */
#include "../zmk-nodefree-config/keypos_def/keypos_42keys.h"

#define HOST_OS 2

/* activate bluetooth */
#define CONFIG_WIRELESS 1

/* source the main keymap */
#include "base.keymap"
